/*-----------------------------------*\
  #PRELOADER
\*-----------------------------------*/

.texts-container {
  opacity: 0;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--smoky-black, #111111);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.preloader .texts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  gap: 10px;
  font-size: 20px;
  font-weight: 800;
  overflow: hidden;
  color: var(--white-2, #fdfdfd);
}

.preloader .texts-container span {
  display: block;
}

/* Global Avatar Fix for mobile squares */
.avatar-box, 
.testimonials-avatar-box, 
.modal-avatar-box {
  overflow: hidden !important;
}

.avatar-box img, 
.testimonials-avatar-box img, 
.modal-avatar-box img {
  border-radius: inherit !important;
  object-fit: cover !important;
}

/* Fix mobile click highlight */
* {
  -webkit-tap-highlight-color: transparent !important;
}
